<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
        <h1>Person: <%= ID %></h1>
        <h2>Query string value: <%= msg %></h2>
        <% switch (msg) { case "Hola": for(let i=0; i < times; i++) { %>
        <h2><%= msg %> <%= ID %></h2>
        <% } break; case "Bienvenido": for(let i=0; i < times; i++) { %>
        <h2><%= msg %> <%= ID %></h2>
        <% } break; case "Adios": for(let i=0; i < times; i++) { %>
        <h2><%= msg %> <%= ID %></h2>
        <%} break; } %>
  </body>
</html>