<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Person: <%= name %></h1>
    <h2>Mensaje: <%= message %></h2>

    <% switch (message){
        case "Hola":
        for(var i=0; i<times; i++) { %>
            <h2><%= message %> <%= name %></h2>
            <% }
        break;
        case "Bienvenido":
        for(var i=0; i<times; i++) { %>
            <h2><%= message %> <%= name %></h2>
            <% }
        break;
        case "Adios":
        for(var i=0; i<times; i++) { %>
            <h2><%= message %> <%= name %></h2>
            <% }
        break;
    } %>
</body>
</html>