<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Person: <%= ID %></h1>
    <h2>Message: <%= Message %></h2>
    <% switch (Message) {
        case "Hola": 
        for(var i=0; i<Times; i++) { %>
            <p><%= Message %> <%= ID %></p>
            <% }
            break; 
        case "Bienvenido":
        for(var i=0; i<Times; i++) { %>
            <p><%= Message %> <%= ID %></p>
            <% }
        break;
        case "Adios":
        for(var i=0; i<Times; i++) { %>
            <p><%= Message %> <%= ID %></p>
            <%}
        break;
    } %>
</body>
</html>